.novel__display {
  justify-content: center;
  background: #e7fbff;
  border-radius: 10px;
  box-shadow: 0 2px 15px #063943;
  margin-top: 10px;
}

.display__book {
  padding: 60px 20px 20px 20px;
}

.book__image {
  width: 100%;
  transition: all 0.16s linear;
  border-radius: 10px;
  box-shadow: 0 2px 15px #000000;
}

.book__image:hover {
  transform: scale(1.03);
}

.novel__p {
  text-align: center;
  padding-top: 10px;
}

.novel__h {
  text-align: center;
  padding-top: 5px;
}

.novel__title {
  padding-top: 10px;
  text-align: center;
}