.display__section {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #ffff;
}

/* .book__display {
  background: #e7fbff;
  justify-content: center;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 15px #063943;
} */

.right {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.book__img {
  max-width: 90%;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  box-shadow: 0 6px 20px #000000;
}

.book__img:hover {
  transform: scale(1.05);
}

.tag-line {
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

p {
  padding-bottom: 10px;
  font-size: 16px;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.paperback {
  text-align: center;
}