.social-display {
    height: 11vh;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

td {
    padding: 25px;
}

a:visited { 
    text-decoration: none; 
    color: rgb(59, 59, 59); 
}

.image__insta {
    width: 50px;
    opacity: 60%;
}

.image__emails {
    width: 65px;
    opacity: 70%;
}

.image__amazon {
    width: 75px;
    opacity: 70%;
}